version: "3.9"
services:
  db:
    image: postgres:15
    container_name: trackly-db
    ports:
      - "5432:5432"
    volumes:
      - trackly-db-data:/var/lib/postgresql/data
    env_file:
      - .env

  backend:
    build: .
    container_name: trackly-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  trackly-db-data:
